* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}

.container-1 {
   justify-content: center;
    
}

.text1 {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    color: black;

}

.container-1 .no-btn {
    width: 50%;
    height: 40px;
    cursor: pointer;
    margin-left: 75px;
    margin-right: 75px;
    
    
}
.no-btn {
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
    background-color: yellow;
    
}
